* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

/* ------ The Header ------ */
.headercontainer {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #25292E;
    padding: 15px;
}

.leftside {
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-around;
    gap: 2em;
    padding: 5px;
    align-items: center;
    margin-left: 15px;
}

.logo img {
    /* border: 2px solid red; */
    padding: 2px;
    width: 35px;
    filter: brightness(2) invert(1);

}

.leftside .bars {
    border: 2px solid crimson;
    color: white;
    font-size: 20px;
    display: none;
}

.middlelogo img {
    border: 2px solid red;
    padding: 2px;
    width: 35px;
    filter: brightness(2) invert(1);
    display: none;
}

.menucontainer .menu {
    /* border: 2px solid pink; */
    display: flex;
    padding: 2px;
    gap: 1em;
    color: rgb(211, 208, 208);
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.menucontainer .menu a {
    color: rgb(211, 208, 208);
    text-decoration: none;
}

.rightside {
    /* border: 2px solid green; */
    display: flex;
    padding: 5px;
    color: rgb(211, 208, 208);
    margin-right: 15px;
    gap: 1em;
    font-weight: lighter;
    font-size: 17px;
    align-items: center;
}

.rightside .search {
    border: 1px solid rgb(185, 183, 183);
    padding: 5px;
    width: 360px;
    height: 32px;
    color: rgb(216, 215, 215);
    text-decoration: none;
    font-size: 16px;
    background-color: #25292E;
    opacity: .7;
    border-radius: 6px;
}

.rightside .fa-bars {
    border: 2px solid crimson;
    color: white;
    font-size: 20px;
    display: none;
}

.rightside .srch {
    border: 1px solid rgb(156, 152, 152);
    color: rgb(238, 236, 236);
    font-size: 17px;
    padding: 3px;
    background-color: #272E49;
    border-radius: 5px;
    display: none;
}

.sign a {
    color: white;
    text-decoration: none;
}

.sign {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.signup a {
    border: 1px solid rgb(211, 208, 208);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

/* ------ Media Query for Header ------ */
@media(max-width:1345px) {
    .rightside .search {
        display: none;
    }

    .rightside .srch {
        display: block;
    }

    .rightside {
        gap: 2em;
    }
}

@media(max-width:1067px) {
    .menucontainer {
        display: none;
    }

    .leftside .logo {
        display: none;
    }

    .rightside .srch {
        display: none;
    }

    .signup {
        display: none;
    }

    .leftside .bars {
        display: block;
        border: none;
        font-size: 25px;
    }

    .middlelogo img {
        display: block;
        border: none;
    }

    .signin {
        border: 1px solid rgb(211, 208, 208);
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
    }
}

@media(max-width:894px) {
    .leftside .bars {
        font-size: 20px;
    }

    .middlelogo img {
        width: 30px;
    }

    .rightside .signin {
        font-size: 14px;
    }
}

@media(max-width:626px) {
    .leftside .bars {
        font-size: 18px;
    }

    .middlelogo img {
        width: 27px;
    }

    .rightside .signin {
        font-size: 13px;
    }
}

@media(max-width:400px) {
    .leftside .bars {
        font-size: 17px;
    }

    .middlelogo img {
        width: 26px;
    }

    .rightside .signin {
        font-size: 12px;
    }
}


/* Platform dropdown container */
.menu1 {
    position: relative;
}

.container1 {
    /* border: 2px solid crimson; */
    background-color: white;
    padding-top: 15px;
    height: 90vh;
    border-radius: 10px;
    display: none;
    position: absolute;
    z-index: 2;
}

.parent {
    /* border: 2px solid yellow; */
    display: flex;
}

.menu1:hover .container1 {
    display: block;
}

.side {
    /* border: 2px solid black; */
    padding: 5px;
    width: 320px;
}

.side a {
    display: flex;
    align-items: center;
}

.side a h1:hover {
    color: #0969DA;
}

.side a p:hover {
    color: #0969DA;
}

.side h1 {
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5px;
    color: #1F2328;
    font-weight: 700;
}

.side p {
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5px;
    color: #656E78;
    font-weight: 400;
}

.item {
    /* border: 2px solid crimson; */
}

.item h1:hover {
    color: #0969DA;
}

.item p:hover {
    color: #0969DA;
}

.right {
    border-left: .5px solid #D1D9E0;
    padding-left: 15px;
}

.vw p {
    /* border: 2px solid red; */
    color: #656E78;
    background-color: #EAEEF2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    border-radius: 10px;
}

.vw p:hover {
    color: #0969DA;
}

/* Solution dropdown container */
.menu2 {
    /* border: 2px solid green; */
    position: relative;
}

.container2 {
    /* border: 2px solid crimson; */
    background-color: white;
    padding-top: 15px;
    height: 60vh;
    border-radius: 10px;
    display: none;
    position: absolute;
    z-index: 2;
}

.menu2:hover .container2 {
    display: block;
}

.parent2 {
    /* border: 2px solid yellow; */
    display: flex;
}

.side2 {
    /* border: 2px solid black; */
    padding: 5px;
    width: 230px;
    border-left: .5px solid #D1D9E0;
    padding-left: 15px;
}

.side2 h1 {
    /* border: 2px solid red; */
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    color: #1F2328;
    font-weight: 700;
}

.side2 p {
    /* border: 2px solid red; */
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    color: #656E78;
    font-weight: 400;
}

.side2 a p:hover {
    color: #0969DA;
}

.vw2 p {
    /* border: 2px solid red; */
    color: #656E78;
    background-color: #EAEEF2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    border-radius: 10px;
}

/* Resources dropdown container */
.menu3 {
    /* border: 2px solid green; */
    position: relative;
}

.container3 {
    /* border: 2px solid crimson; */
    background-color: white;
    padding-top: 15px;
    height: 55vh;
    border-radius: 10px;
    display: none;
    position: absolute;
    z-index: 2;
}

.menu3:hover .container3 {
    display: block;
}

.parent3 {
    /* border: 2px solid yellow; */
    display: flex;
}

.side3 {
    /* border: 2px solid black; */
    padding: 5px;
    width: 200px;
    border-left: .5px solid #D1D9E0;
    padding-left: 15px;
}

.side3 h1 {
    /* border: 2px solid red; */
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    color: #1F2328;
    font-weight: 700;
}

.side3 p {
    /* border: 2px solid red; */
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    color: #656E78;
    font-weight: 400;
}

.side3 a p:hover {
    color: #0969DA;
}

/* Open Source dropdown container */
.menu4 {
    /* border: 2px solid green; */
    position: relative;
}

.container4 {
    border: 2px solid crimson;
    background-color: white;
    padding: 20px;
    height: 55vh;
    border-radius: 10px;
    display: none;
    position: absolute;
    z-index: 2;
}

.container4 h1 {
    /* border: 2px solid red; */
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 2px;
    color: #1F2328;
    font-weight: 700;
}

.container4 p {
    /* border: 2px solid red; */
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 2px;
    color: #656E78;
    font-weight: 400;
    margin-bottom: 15px;
}

.container4 a p:hover {
    color: #0969DA;
}

.cont {
    border: 2px solid #D1D9E0;
    border-right: none;
    border-left: none;
}

.git {
    border-top: none;
}

.readme {
    border-top: none;
}

.same:hover {
    color: #0969DA;
}

/* ------ Hero Section------ */
.hero_sect {
    border-bottom: 2px solid #3D444D;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-image: linear-gradient(90deg, #100D22, #010409, #010409, #010409, #031730);
    height: 44vh;
}

.hero_left {
    padding-top: 60px;
    padding-left: 45px;
}

.hero_left h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    font-weight: 800;
    color: #F0F6FC;
}

.hero_left p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #9198A1;
}

.input_div {
    border: 1px solid #3D444D;
    display: flex;
    /* justify-content: space-between; */
    /* gap: 1.5em; */
    align-items: center;
    width: 630px;
    border-radius: 8px;
    background-color: #262C36;
}

.input_div input {
    padding: 7px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: none;
    border-top-right-radius: none;
    border: none;
    width: 590px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #9198A1;
    background-color: #0D1117;
}

.input_div .fa-search {
    /* border: 1px solid black; */
    font-size: 20px;
    padding: 7px;
    text-align: center;
    background-color: #262C36;
    color: #8A919A;
}

/* ------ Next Section------ */
.next_sect {
    background-color: #0D1117;
    padding-top: 30px;
}

.next_top {
    border: 2px solid #634711;
    display: flex;
    gap: .3em;
    width: 96%;
    margin: auto;
    padding: 20px;
    background-color: #272115;
}

.next_top img {
    width: 20px;
    height: 20px;
}

.next_top p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #F0F6E6;
}

.next_bottom {
    /* border: 2px solid crimson; */
    display: flex;
    justify-content: center;
    gap: 1em;
    padding-top: 25px;
}

.bottom_left {
    border-left: 5px solid #1F6FEB;
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding-left: 5px;
    height: 6.5vh;
}

.left {
    display: flex;
    align-items: center;
    gap: .5em;
    padding: 10px;
    width: 300px;
}

.left p {
    color: #F0F6EF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.left_1 {
    background-color: #1E242A;
}

.left_1 p {
    font-weight: 800;
}

.left_6 {
    border-top: 1px solid #2F353D;
    padding-top: 15px;
}

.left .imgp {
    display: flex;
    gap: .5em;
}

.left_3,
.left_4,
.left_5 {
    display: flex;
    justify-content: space-between;
}

.left_3,
.left_4,
.left_5 .fa-chevron-down {
    color: #F0F6EF;
    font-size: 15px;
}

.left img {
    width: 15px;
}


.bottom_right {
    /* border: 2px solid blue; */

}

.bt_up {
    /* border: 2px solid red; */
    width: 970px;
}

.bt_up h2 {
    padding: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #F0F6FC;
    font-size: 25px;
    font-weight: 800;
}

.bt_up p {
    padding: 2px;
    padding-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #9198A1;
    font-size: 15px;
    font-weight: 500;
}

.up {
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 1em;
    padding: 1px;
    width: 970px;
    margin-top: 15px;
}

.upp {
    border: 2px solid #3A4049;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    height: 37vh;
    /* padding: 10px; */
    width: 310px;
    background-color: #1E242A;
    border-radius: 10px;
    position: relative;
}

.upp button {
    /* display: none; */
    border: 1px solid #343B43;
    font-size: 13px;
    color: #919486;
    background-color: #151B23;
    padding: 3px;
    width: 65px;
    text-align: center;
    border-radius: 25px;
    position: absolute;
    left: 230px;
    top: 10px;
}

.upp img {
    border: 1px solid #40454A;
    /* border-width: 25px; */
    margin: auto;
    /* padding: 1px; */
    width: 35px;
    border-radius: 5px;
}

.upp h3 {
    /* border: 2px solid white; */
    font-size: 19px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #F0F6FC;
    font-weight: 800;
    padding: 5px;
}

.upp p {
    /* border: 2px solid white; */
    color: #9198A1;
    font-size: 13px;
    font-weight: 500;
    padding: 15px;
}


.bt_middle {
    /* border: 2px solid yellow; */
}

.bt_middle {
    /* border: 2px solid red; */
    width: 970px;
}

.bt_middle h2 {
    padding: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #F0F6FC;
    font-size: 25px;
    font-weight: 800;
}

.bt_middle p {
    padding: 2px;
    padding-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #9198A1;
    font-size: 15px;
    font-weight: 500;
}

.mid {
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    padding: 1px;
    width: 970px;
    margin-top: 15px;
}

.midd {
    border: 2px solid #3A4049;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    height: 37vh;
    /* padding: 10px; */
    width: 310px;
    background-color: #1E242A;
    border-radius: 10px;
    position: relative;
}

.midd button {
    /* display: none; */
    border: 1px solid #343B43;
    font-size: 13px;
    color: #919486;
    background-color: #151B23;
    padding: 3px;
    width: 65px;
    text-align: center;
    border-radius: 25px;
    position: absolute;
    left: 230px;
    top: 10px;
}

.midd img {
    border: 1px solid #40454A;
    /* border-width: 25px; */
    margin: auto;
    /* padding: 1px; */
    width: 35px;
    border-radius: 5px;
}

.midd h3 {
    /* border: 2px solid white; */
    font-size: 19px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #F0F6FC;
    font-weight: 800;
    padding: 5px;
}

.midd p {
    /* border: 2px solid white; */
    color: #9198A1;
    font-size: 13px;
    font-weight: 500;
    padding: 15px;
}

.bt_down {
    /* border: 2px solid crimson; */
}

.RR {
    border-bottom: 1px solid #2F353D;
    padding: 20px;
    background-color: #0D1117;
}

.RR .a2 {
    /* border: 2px solid magenta; */
    text-decoration: none;
    color: #F0F6FC;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
}

.RR .a2:hover {
    background-color: #1E242A;
}

.RR .a1 {
    border-bottom: 2px solid #F78166;
    text-decoration: none;
    color: #F0F6FC;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
}

.RR .a1:hover {
    background-color: #1E242A;
}

.down {
    /* border: 2px solid white; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1em;
    margin-top: 25px;
}

.downn {
    border: 1px solid #3A4049;
    display: flex;
    align-items: center;
    gap: .8em;
    height: 15vh;
    padding: 20px;
    background-color: #1E242A;
    border-radius: 5px;
    position: relative;
}

.downn button {
    border: 1px solid #343B43;
    font-size: 13px;
    color: #919486;
    background-color: #151B23;
    padding: 3px;
    width: 65px;
    text-align: center;
    border-radius: 25px;
    position: absolute;
    left: 400px;
    top: 10px;
}

.downn img {
    width: 35px;
    height: 35px;
    border: 1px solid #40454A;
    border-radius: 10px;
}

.downn h3 {
    /* border: 2px solid white; */
    font-size: 19px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #F0F6FC;
    font-weight: 800;
    /* padding: 5px; */
}

.downn p {
    /* border: 2px solid white; */
    color: #9198A1;
    font-size: 13px;
    font-weight: 500;
    /* padding: 15px; */
}

.downn .imgtxt {
    display: flex;
    flex-direction: column;
}

/* ------ Footer ------ */
.sect_eleven {
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    background-color: #0D1117;
    height: 90vh;
}

.col_1 {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.logotext {
    display: flex;
    align-items: center;
    gap: .3em;
}

.logotext img {
    filter: brightness(0) invert(1);
    width: 30px;
}

.logotext h2 {
    font-size: 30px;
    font-family: sans-serif;
    color: #F0F6FC;
}

.col_1 p {
    font-family: sans-serif;
    font-weight: 300;
    color: #8F969F;
}

.col_1 .sub {
    border: 1px solid #464a4e;
    color: #F0F6FC;
    font-weight: 600;
    text-decoration: none;
    width: 130px;
    text-align: center;
    padding: 15px;
    font-size: 17px;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.col_1 .sub:hover {
    border: 1px solid #F0F6FC;
    background-color: none;
}

.col {
    /* border: 2px solid cyan; */
    padding: 10px;
}

.col ul {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.num {
    /* border: 2px solid magenta; */
    color: #8F969F;
    font-size: 14px;
}

/* ------ Article ------ */
.article_sect {
    background-color: #151B23;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}

.art {
    /* border: 2px solid cyan; */
}

.art_left {
    display: flex;
    flex-direction: column;
    gap: .3em;
}

.left_top .lt_container {
    display: flex;
    gap: 1em;
}

.lt_container .contained {
    color: #8F969F;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contained a {
    text-decoration: none;
    color: #8F969F;
}

.contained a:hover {
    text-decoration: underline;
    color: #4493F8;
}

.left_bottom a {
    color: #8F969F;
    text-decoration: none;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.left_bottom a:hover {
    text-decoration: underline;
    color: #4493F8;
}

.art_right {
    display: flex;
    align-items: center;
    gap: 3em;
}

.right_left {
    display: flex;
    gap: .8em;
}

.right_left img {
    width: 18px;
    filter: grayscale(0) invert(1);
}

.right_left .YouTube {
    width: 28px;
}

.right_right {
    color: #8F969F;
    display: flex;
    align-items: center;
    gap: .5em;
}

.right_right:hover {
    color: #4493F8;
}

.fa-globe {
    font-size: 25px;
    font-weight: 800;
}